*{
    color: white;
}
.admin-main{
    background-color: black;
}
.adminhead{
    width: auto;
height: 75px;
top: 4px;
margin-left: 300px;
padding: 16.52px, 754.81px, 17.71px, 26.19px;
border-radius: 10px;
 background: rgba(83, 47, 160, 1);
 margin-top: -80px;


}
