
.Admisidebar{
    width: 220px;
height: 816px;
top: 124px;
left: -0.5px;
border-radius: 0px 100px 100px 0px;
background: rgba(83, 47, 160, 1);
color: black;

}

.admin{
    width: 220px;
height: auto;
border-radius: 0px 100px 0px 100px;

background: rgba(255, 255, 255, 1);


}
.sideComponents{
    /* width: 225.57px;
height: 280px; */
top: 408px;
/* left: 19.71px; */

color:rgba(255, 255, 255, 1);
margin-left: 5px;
padding: 10px;
font-size: 18px;
/* display: flex;
justify-content: center;
justify-content: center; */


}

.sidebarditems {
    width: 220px;
    display: flex;
    flex-direction: column; /* Display items vertically */
    top: 579px;
    left: 71.02px;
    padding: 0;
    background: rgba(83, 47, 160, 1);
}
.dropdown-toggle {
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
    color: white; /* Set text color */
    padding: 10px; /* Adjust padding */
    cursor: pointer; /* Set cursor to pointer */
    width: 100%; /* Set width to 100% */
    text-align: left; /* Align text to the left */
    height: auto;
}
