* {
/*    
    font-family: Poppins; */
  
    
}

.Adminmain {
    background: rgba(11, 2, 29, 1);

}

.adminheading {
    background-color: #121212;
    width: auto;
    height: 60px;
    padding: 0;
    border-radius: 10px;
    display: flex;
    margin-top: -750px;
    border-radius: 10px;
    color: white;
    margin-left: 300px;
}

.portals {
    display: flex;
    justify-content: space-between;
    margin-left: 100px; 
}

#h1 {
    background: rgba(83, 47, 160, 1);
    width: 150px;
    padding-left: 50px;
    border-radius: 20px; 
    height: 25px;
}

#h2 {
    background-color: white;
    color: #121212;
    width: 150px;
    padding-left: 50px;
    border-radius: 20px; 
    height: 25px;
}

.admincards {
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.carda {
    display: flex;
    flex-direction: column;
    width: 170px;
    word-wrap: break-word;
    background: rgba(83, 47, 160, 1);
    margin-left: 230px;
    /* margin-right: 350px; */
    /* justify-content:space-between; */
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 10px;
    transition: 0.3s;
    padding: 20px;
    margin-top: 50px;
    color: white;
    min-height: 50%;
}

.carda1 {
    display: flex;
    flex-direction: column;
    width: 300px;
    word-wrap: break-word;
    background: rgba(83, 47, 160, 1);
    margin-left: 300px;
    /* margin-right: 350px; */
    /* justify-content:space-between; */
    background-clip: border-box;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    border-radius: 10px;
    transition: 0.3s;
    padding: 20px;
    margin-top: 50px;
    color: white;
    min-height: 50%;
}

.title, .number {
    margin-bottom: 10px; /* Adjust this value as needed for spacing */
}

.attendence{
    width: 550px;
height: auto;
margin-top: 100px;
margin-left: 260px;
border-radius: 20px;
border: 2px;
background: rgba(11, 2, 29, 1);


}
.attendence-head{
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.5px;
text-align: left;
width: 460.43px;
height: 20px;
padding-left: 49px;
padding-top: 20px;

}
.days7{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    width: 79.7px;
    height: 20px;
    padding-top: 10px;
    padding-left: 455.25px
        
}

.horizontal{
    width: 550px;
height: 1px;
margin-top: 25px;
background-color: white;

}

.horizontal2{
    width: auto;
height: 1px;
margin-top: 25px;
background-color: white;

}
.dropicon{
    width: 10px;
height: 10.49px;
top: 26px;
left: 555.78px;
padding: 0.52px, 2px, 0.52px, 3px;
rotate: -90 deg;

}
.attendenceOvel{
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}
.studentsMain{
    width: 450px;
    height: 441px;
    margin-top: -430px;
    border-radius: 10px;
    border: 2px white;
    margin-left: 840px;
    background: rgba(11, 2, 29, 1);

}

.studentsPlaced{
    width: 450px;
height: 71.51px;
background: rgba(255, 255, 255, 1);
color: black;
border-radius: 10px;
}

.placed{
    width: 301.5px;
height: 20px;
top: 22px;
/* left: 115px; */
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.5px;
text-align: center;
color: black;
padding-left: 50px;
padding-top: 30px;

}

.placeCircle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid wheat; /* Set border thickness and color */
    background-color: transparent; /* Set background color to transparent */
    margin-left: 110px;
    margin-top: 30px;
}

.yesOrno{
    display: flex;
    justify-content: space-evenly;
}

.courseChart{
    width: 1000px;
height: auto;
background: rgba(83, 47, 160, 1);
margin-top: 50px;
margin-left: 300px;
/* top: 1175px;
left: 274px */

}

.coursechartheading{
    display: flex;
    justify-content: space-between;
}